*{
    margin: 0;
    padding: 0;
}
@font-face {
  font-family: Bledek;
  src: url('font/Bledek.otf');
}
html, body{
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Bledek'; 
	background:url(slike/blackwall.jpg) no-repeat;
	background-size: cover;
	}
.new-background {
    background: url(slike/wall.jpg) no-repeat;
    background-size: cover;
}
	h1 {
    font-family: 'Bledek'; 
    letter-spacing: 2px;
    margin-top: 85%;
    margin-left: 240%;
    font-size: 40px;
	position: relative;
    z-index: 2;
}
.container {
    display: flex; 
	justify-content: space-around;
    align-items: center; 
}

.levi {
    flex: 0 0 auto; 
    margin-top: 40px;
	margin-left: -21%;
    order: 1;
    
}
.sredina {
    flex: 0 0 auto; 
    margin-top: 40px;
	margin-left: 5%;
    order: 2;
}
.desni {
    flex: 0 0 auto; 
    margin-top: 35%;
	margin-left: 25%;
    order: 3;
}
	.luc {
    margin-left: 28.5%;
    height: 150px;
    width: 150px;
    position: relative;
    z-index: 2;
}

.omarica {
    margin-left: -8%;
    margin-top: 2%;
    height: 800px;
    width: 1260px;
    position: absolute;
    z-index: 1;
}

.ground {
    margin-left: 37.5%;
    height: 121px;
    width: 60px;
    position: relative;
    z-index: 3;
}

.gumb1{
  width: 30px;
  height: 30px;
  margin-top: 173%;
  margin-left: -232%;
  background-color: transparent;
  border-color: transparent;
 
}
.gumb2{
  width: 30px;
  height: 30px;
  margin-left: -232%;
  background-color:transparent;
  border-color: transparent;
  
}
.gumb3{
  width: 60px;
  height: 60px;
  border:2px solid black;
  border-radius: 60px;
  background-color: transparent;
  border-color: transparent;
  position: relative;
  z-index: 2;
  margin-left: 170%;
  top: -12%;
}
.switch{
  width: 213px;
  height: 170px;
  margin-top: 150%;
  margin-left: -270%;
  float:left;
  
}
.zoom{
    display: flex; 
	justify-content: space-around;
}
.plakat {
    width: 321px;
    height: 445px;
    z-index: 1;
    position: absolute;
    top: 35%; 
    right: 4%;	
}
.maze{
	background:rgba(0,0,0,0.8);
	margin-left: -10%;
}
.darken {
    filter: brightness(0.5);
}
.brighten {
    filter: brightness(1);
}
