*{
    margin: 0;
    padding: 0;
}
@font-face {
  font-family: Bledek;
  src: url('font/Bledek.otf');
}
html, body{
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Bledek'; 
	background:url(slike/background.jpg) no-repeat;
	background-size: cover;
	}
	h1 {
	  font-family: 'Bledek'; 
	  letter-spacing: 2px;
	  margin-top:-70%;
	  margin-left:-90%;
	  font-size:150px;
	  
	}
.container {
    display: flex; 
	justify-content: space-around;
    align-items: center; 
}

.levi {
    flex: 0 0 auto; 
    margin-top: 40px;
	margin-left: 10%;
    order: 1;
    
}
.sredina {
    flex: 0 0 auto; 
    margin-top: 40px;
	margin-left: 5%;
    order: 2;
}
.desni {
    flex: 0 0 auto; 
    margin-top: 40px;
	margin-left: 5px;
    order: 3;
}
	.luc{
	margin-left: 37%;
	height:150px;
	width:150px;
	}

	.ground{
	margin-left: 45%;
	height:121px;
	width:60px;
	}

.gumb1{
  width: 30px;
  height: 30px;
  margin-top: 140px;
  margin-left: -165px;
  background-color: transparent;
  border-color: transparent;
 
}
.gumb2{
  width: 30px;
  height: 30px;
  margin-left: -165px;
  background-color: transparent;
  border-color: transparent;
  
}
.switch{
  width: 213px;
  height: 170px;
  margin-top: 90px;
  margin-left: -120%;
  float:left;
  
}
.gen{
	position:absolute;
	bottom:6vh;
	left:55vw;
}