*{
    margin: 0;
    padding: 0;
}
@font-face {
  font-family: Bledek;
  src: url('font/Bledek.otf');
}
html, body{
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Bledek'; 
	background:url(slike/blackwall.jpg) no-repeat;
	background-size: cover;
	}
.new-background {
    background: url(slike/wall.jpg) no-repeat;
    background-size: cover;
}
	h1 {
    font-family: 'Bledek'; 
    letter-spacing: 2px;
    font-size: 40px;
	position: relative;
    z-index: 2;
	left:190px;
    top:45px;
}
.container {
    display: flex; 
	justify-content: space-around;
    align-items: center; 
}
.zoom{
    display: flex; 
	justify-content: space-around;
	width: auto;
}
.levi {
    flex: 0 0 auto; 
    margin-top: 40px;
	left: 250px;
    order: 0;
	width:200px;
}
.sredina {
    flex: 0 0 auto; 
    margin-top: 40px;
	margin-left: 5%;
    order: 2;
	width:1000px;
}
.desni {
    flex: 0 0 auto; 
    order: 3;
	width:400px;
	margin-left:2%;
}
.vplakatu {
	width:200px;
	position: relative;
	left:5%;
	top:48%;
}
	.luc {
    margin-left: 20.5%;
    height: 150px;
    width: 150px;
    position: relative;
    z-index: 2;
}

.omarica {
    margin-left: -4%;
    margin-top: 2%;
    height: 800px;
    width: 1260px;
    position: absolute;
    z-index: 1;
}

.ground {
    margin-left: 25.5%;
    height: 121px;
    width: 60px;
    position: relative;
    z-index: 3;
}

.gumb1{
  width: 30px;
  height: 30px;
  left: 95px;
  top: -116px;
  background-color:  transparent;
  border-color: transparent;
  position: relative;
}
.gumb2{
  width: 30px;
  height: 30px;
  left: 95px;
  top: -116px;
  background-color: transparent;
  border-color: transparent;
  position: relative;
}
.gumb3{
  width: 60px;
  height: 60px;
  border:2px solid black;
  border-radius: 60px;
  background-color:  transparent;
  border-color: transparent;
  position: relative;
  z-index: 2;
  left:95px;
  top:-5px;
}
.switch{
  width: 213px;
  height: 170px;
  margin-top: 150%;
  margin-left: 2%;
  float:left;
 
}

.plakat {
    width: 321px;
    height: 445px;
    z-index: 1;
    position: relative;
	left:50px;
	top:150px;
	
}
.maze{
	background:rgba(0,0,0,0.8);
}
.darken {
    filter: brightness(0.5);
}
.brighten {
    filter: brightness(1);
}
